body {

	margin: 10px;
	padding: 6px;
	background-color: blanchedalmond;
}
h1 {
	border: 2px solid grey;
	border-radius: 50%;
	background-color: cornsilk;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 5px;
}
.game-box {
	border: 1px solid black;
	margin: 6px;
	height: auto;
	width: auto;
	display: flex;
	flex-flow: wrap;
}
.game-box div {
	background-color: solid white;
	height: 40px;
	width: 40px;
	border: 1px solid black
}
.bomb {
	background-color: tomato;
}
